<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scheme</key>
	<string>https</string>
	<key>host</key>
	<string>pixabay.com</string>
	<key>path</key>
	<string>/api</string>
	<key>key</key>
	<string>your-key-goes-here</string>
	<key>image_type</key>
	<string>photo</string>
</dict>
</plist>
